@font-face {
  font-family: myfont;
  src: url("Inter-ExtraLight.ttf");
  font-weight: 400;
}
@font-face {
  font-family: myfont;
  src: url("Inter-Light.ttf");
  font-weight: 700;
}
@font-face {
  font-family: myfont;
  src: url("Inter-Medium.ttf");
  font-weight: 900;
}
@font-face {
  font-family: myfont;
  src: url("Inter-Thin.ttf");
  font-weight: 200;
}
@font-face {
  font-family: myfont;
  src: url("Inter-Bold.ttf");
  font-weight: 1000;
}
@font-face {
  font-family: font-2;
  src: url(Handlee-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

*::selection {
  background-color: #d0e1ce;
}

html {
  font-size: 62.5%;
  color: #043927;
  font-family: myfont;
}
@media only screen and (min-width: 600px) {
  html {
    font-size: 64%;
  }
}
@media only screen and (min-width: 900px) {
  html {
    font-size: 67%;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 70%;
  }
}

.project {
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem;
  background-color: whitesmoke;
}
header .header_hero {
  background-image: url("phone1.jpg");
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
@media only screen and (min-width: 900px) {
  header .header_hero {
    background-image: url("desktop2.jpg");
  }
}
header .header_hero-bars {
  position: relative;
  padding: 2rem;
  position: fixed;
  right: 0;
  top: 1rem;
}
@media only screen and (min-width: 900px) {
  header .header_hero-bars {
    position: absolute;
    width: 45%;
    padding: 0;
  }
}
header .header_hero-bars svg {
  width: 4rem;
  height: 4rem;
}
@media only screen and (min-width: 900px) {
  header .header_hero-bars svg {
    display: none;
  }
}
header .header_hero-bars input {
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 2rem;
  opacity: 0;
}
header .header_hero-bars input:checked + ul {
  display: block;
}
header .header_hero-bars ul {
  position: fixed;
  right: 5rem;
  top: 6rem;
  display: none;
}
@media only screen and (min-width: 900px) {
  header .header_hero-bars ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    align-items: center;
  }
}
header .header_hero-bars ul li {
  padding-bottom: 1.5rem;
  cursor: pointer;
  text-align: right;
}
header .header_hero-bars ul li:first-child {
  margin-top: 2rem;
}
header .header_hero-bars ul li:last-child {
  border: 2px solid #043927;
  padding: 1rem;
}
header .header_hero-bars ul li a {
  text-decoration: none;
  color: #043927;
  font-size: 2rem;
  font-weight: 900;
}
header .header_hero-head {
  padding: 22rem 2rem 0 2rem;
}
header .header_hero-head h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 1000;
  text-transform: uppercase;
}
header .header_hero-head h2 {
  font-size: 2rem;
  text-align: center;
  font-weight: 900;
  padding: 1.5rem 0;
}
header .header_hero-head hr {
  width: 20%;
  margin: auto;
  height: 0.5rem;
  background-color: #043927;
  border-width: 0;
}

.main {
  background-color: #d0e1ce;
}
.main_head {
  padding: 5rem 0;
}
@media only screen and (min-width: 900px) {
  .main_head {
    padding: 14rem 0 14rem 0;
  }
}
.main_head h3 {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 2rem 0;
}
.main_head hr {
  width: 40%;
  margin: auto;
  height: 0.5rem;
  background-color: #043927;
}
.main_cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media only screen and (min-width: 900px) {
  .main_cards {
    flex-direction: row;
    justify-content: space-around;
    gap: 0;
    margin-bottom: 14rem;
  }
}
.main_cards div {
  width: 85%;
  margin: auto;
  background-color: whitesmoke;
  cursor: pointer;
}
@media only screen and (min-width: 900px) {
  .main_cards div {
    width: 30%;
    margin: 0;
    box-shadow: 0 1rem 3rem 0 #363636;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
  }
  .main_cards div:hover {
    transform: translateY(-4rem);
  }
}
.main_cards div:last-child {
  margin-bottom: 3rem;
}
@media only screen and (min-width: 900px) {
  .main_cards div:last-child {
    margin: 0;
  }
}
.main_cards div img {
  width: 100%;
  overflow: hidden;
}
.main_cards div hr {
  width: 20%;
  margin: auto;
  height: 0.4rem;
  background-color: #043927;
  margin: 4rem auto 4rem auto;
}
.main_cards div p {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  font-family: font-2;
  padding-bottom: 4rem;
}

.about {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 900px) {
  .about {
    flex-direction: row;
  }
}
.about_image {
  width: 100%;
}
@media only screen and (min-width: 900px) {
  .about_image {
    width: 50%;
  }
}
.about_image img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
@media only screen and (min-width: 900px) {
  .about_image img {
    width: 100%;
  }
}
.about_info h3 {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  padding: 3rem 0;
}
.about_info hr {
  width: 20%;
  margin: auto;
  height: 0.4rem;
  background-color: #043927;
}
.about_info p {
  font-size: 2.2rem;
  font-family: font-2;
  font-weight: 700;
  padding: 3rem 2rem 8rem 2rem;
  line-height: 3.5rem;
}
@media only screen and (min-width: 900px) {
  .about_info {
    width: 50%;
  }
}

.subscribe {
  background-color: #d0e1ce;
  padding: 8rem 0;
}
.subscribe h3 {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}
.subscribe p {
  font-family: font-2;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  padding: 1.5rem 0;
}
.subscribe_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.subscribe_flex div {
  width: 90%;
  height: 6rem;
}
@media only screen and (min-width: 900px) {
  .subscribe_flex div:first-child {
    width: 40%;
  }
}
@media only screen and (min-width: 900px) {
  .subscribe_flex div:nth-child(2) {
    width: 25%;
  }
}
.subscribe input {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  font-family: font-2;
  color: #043927;
  padding: 0.2rem 0 0.2rem 2rem;
}

button {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  font-family: myfont;
  font-weight: 1000;
  letter-spacing: 0.7rem;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: #043927;
}

footer {
  padding: 8rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media only screen and (min-width: 900px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 6rem 5rem;
  }
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
@media only screen and (min-width: 900px) {
  footer ul {
    order: 2;
  }
}
footer ul li {
  cursor: pointer;
}
footer ul li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #043927;
}
footer .footer_svg {
  display: flex;
  gap: 1rem;
}
@media only screen and (min-width: 900px) {
  footer .footer_svg {
    order: 1;
  }
}
footer .footer_svg svg {
  width: 100%;
  height: 100%;
}
footer .footer_svg div {
  cursor: pointer;
  transition: 0.4s;
  width: 3.6rem;
  height: 3.6rem;
}
@media only screen and (min-width: 900px) {
  footer .footer_svg div {
    cursor: pointer;
    transition: 0.4s;
    backface-visibility: hidden;
  }
}
@media only screen and (min-width: 900px) {
  footer .footer_svg div:hover {
    transform: translateY(-0.5rem);
  }
}

/*# sourceMappingURL=style.css.map */
